

body {
    background-color:white;
}
h1{
    color: darkblue;
    text-align: center;
    font-family: verdana;
    font-size: 500%
}
h2{
    color: darkblue;
    text-align: center;
    font-family: verdana;
    font-size: 400%
}
h3 {
    color: darkblue;
    text-align: center;
    font-family: verdana;
    font-size: 300%
}
h4 {
    color: darkblue;
    text-align: center;
    font-family: verdana;
    font-size: 300%
}

h5 {
    color: darkblue;
    text-align: center;
    font-family: verdana;
    font-size: 300%
}

p {
    color: black;
    text-align: center;
    font-family: verdana;
    font-size: 100%;
} 

.listhead {
    color: darkblue;
    text-align: left;
    font-family: verdana;
    font-size: 100%;
}

ul {
    color: black;
    text-align: left;
    font-family: verdana;
    font-size: 100%; 
}

.author {
    color: orange;
    font-family: verdana;
    size: 150%;
    cursor: pointer;
}

.author:hover {
    color: grey;
}

.date {
    color: black;
    font-family: verdana;
    size: 150%;
}


.contentbox {
    -moz-box-align: center;
    width: 500px;
    padding: 30px;
    border: 20px;
    margin: 20px;
    text-align: center;    
}

.listbox {
    width: 500px;
    padding: 5px;
    border: 10px;
    margin: 10px;
    text-align: center;  
}
/*transform: https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scale#syntax*/
img { 
    size: 300px;
    border-radius: 8px;     /*Should add figure and figcaption here*/
    transform: scale(1);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


.box {
    background-color: beige;
    border-color: white;
    width: 1130px;
    padding: 50px;
    border: 5px solid gray;
    margin: 20;
    text-align-last: center;
} 

.photo-credit {
    color: lightgrey;
    font-family: verdana;
    text-align: left;
    size: 150%;
}
    


