

body {
    background-color:white;
}

h1{
    color: darkblue;
    text-align: center;
    font-family: verdana;
    font-size: 200%
}
h2{
    color: darkblue;
    text-align: center;
    font-family: verdana;
    font-size: 200%
}
h3 {
    color: darkblue;
    text-align: center;
    font-family: verdana;
    font-size: 150%
}
h4 {
    color: darkblue;
    text-align: center;
    font-family: verdana;
    font-size: 150%
}

h5 {
    color: darkblue;
    text-align: center;
    font-family: verdana;
    font-size: 150%
}

p {
    color: black;
    text-align: center;
    font-family: verdana;
    font-size: 100%;
} 

.smallHead {
    color: darkblue;
    text-align: center;
    font-family: verdana;
    font-size: 150%;
}

.list {
    color: black;
    display: inline-block;
    text-align: left;
    font-family: verdana;
    font-size: 100%; 
}


/*The codes for the ".author" and ".author:hover"-classes 
makes the text written here change color between orange and grey 
when the text is pointed at.*/
.author {
    color: orange;
    font-family: verdana;
    size: 150%;
    cursor: pointer;
}

.author:hover {
    color: grey;
}



.date {
    color: black;
    font-family: verdana;
    size: 150%;
}


/*This styling of the ".contentbox" and ".listbox"-clases gives instructions 
on how lagre the boxes should be and that it is placed in the center of the 
webpage. The ".contentbox"-class underneath is the styling of the box defined in
the ArstenchinicaArticle2.html. While the ".listbox"-class contains the styling of 
the box defined in pageNummer2.html*/

.contentbox {
    -moz-box-align: center;
    box-sizing: 700px;
    padding: 30px;
    border: 20px;
    margin: 20px;
    text-align: center;    
}

.listbox {
    -moz-box-align: center;
    box-sizing: 700px;
    padding: 5px;
    border: 10px;
    margin: 10px;
    text-align: center;  
}




/* Underneath the "img"-element and and the ".center"-class from ArstenchinicaArticle2.html
is used to style the image in the center of the webpage, give it a proper size
and to make it scalable. We used the following source:
mdn web docs(2023). "Scale". Mozilla Developer. 
Retrived 12.10.2023 from: https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scale#syntax*/

img { 
    size: 300px;
    border-radius: 8px;  
    transform: scale(1);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


.box {
    background-color: beige;
    border-color: white;
    width: 1130px;
    padding: 50px;
    border: 5px solid gray;
    margin: 20;
    text-align-last: center;
} 

.photo-credit {
    color: red;
    font-family: verdana;
    text-align: left;
    size: 150%;
}
    


