

body {
    background-color:white;
}

/*The code of the elements h1-h5, p, and of the classes ".smallHead", ".list" and ".photocredit" 
defines the how we have styled the text in our two webpages. Because we wanted to have similar styling of
the headings and most of the paragraphs in the two pages, we choose to reuse the same element-names and not divide them into classes. 
However, in order to distinguish some of the text from the rest and give it other styling, we created a class for the caption underneath 
the image in our "ArstechnicaArticle2.html"-page. We made the class ".list" to style the lists of "pageNummer2.html" and the 
"participants"-list in both the webpages to display the text and the points at the center. And we created the ".smallhead"-class
to make a separated heading for the participants list.*/

h1{
    color: darkblue;
    text-align: left;
    font-family: verdana;
    font-size: 230%
}
h2{
    color: darkblue;
    text-align: left;
    font-family: verdana;
    font-size: 200%
}
h3 {
    color: darkblue;
    text-align: left;
    font-family: verdana;
    font-size: 150%
}
h4 {
    color: darkblue;
    text-align: left;
    font-family: verdana;
    font-size: 150%
}

p {
    color: black;
    text-align: left;
    font-family: verdana;
    font-size: 100%;
} 


.photo-credit {
    color: darkmagenta;
    font-family: verdana;
    text-align: left;
    size: 150%;
}

/*The code underneath styles the second page specifically to make it distinct
from the first page and to make it look like the official subject page. The code of header-class is inspired 
form the one written on the official web https://student.oslomet.no/en/studier/-/studieinfo/emne/DATA1200/2023/HØST 
Which we used Google crome and developers tools to access.*/

.header{
    grid-column: 1/span 12;
    grid-column-start:1;
    grid-column-end: span 12;
    width:100%;
    align-items:center;
    display:flex;
    height: 80px;
    padding: 60px;
    text-align: left;
    background-color: rgb(255, 128, 0);
    color: black;
    font-size: 30px;
}

.headertext{
    text-align: left;
    color: black;
    font-size: 100%;
    font-family: "Moderat","Avenir","Helvetica","Arial",sans-serif;
    font-weight: bold;
}


/*We followed a guide to make 'Learning outcomes' a collapsible section that changes the cursor to a pointer,
highlights the area with a lightgray background and nudges the section.
Source: Finneran, J. (2020): Creating a collapsible section with nothing but HTML.
Retrieved 24.10.23 from
https://dev.to/jordanfinners/creating-a-collapsible-section-with-nothing-but-html-4ip9 */
details{
    user-select: none;
}

details>summary span.nudge{
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    text-align: auto;
}

summary {
    color: black;
    font-family: "Moderat","Avenir","Helvetica","Arial",sans-serif;
    display: flex;
    cursor: pointer;
    font-size: 150%
}

summary:hover {
    background-color: lightgray;
    height: 24px;
    width: summary;
}

summary::-webkit-details-marker {
    display: none;

}


.page2mainheading{
    color: black;
    font-family: "Moderat","Avenir","Helvetica","Arial",sans-serif;
    display: flex;
    font-size: 300%
}

.page2headings{
    color: black;
    font-family: "Moderat","Avenir","Helvetica","Arial",sans-serif;
    display: flex;
    font-size: 150%

} 

.page2content{
    color: black;
    font-family: "Moderat","Avenir","Helvetica","Arial",sans-serif;
    display: flex;
}
   

.smallHead {
    color: black;
    text-align: left;
    font-family: "Moderat","Avenir","Helvetica","Arial",sans-serif;;
    font-size: 120%;
}

.list {
    color: black;
    display: inline-block;
    text-align: left;
    font-family: "Moderat","Avenir","Helvetica","Arial",sans-serif;;
    font-size: 100%; 
}




/*This code styles the link between the two webpages.*/
.link{
    display: block;
    text-align: left;
    font-size: 100%;
    font-family: verdana;
}



/*The codes for the ".author" and ".author:hover"-classes 
makes the text written here change color between orange and grey 
when the text is pointed at.*/
.author {
    color: darkmagenta;
    font-family: verdana;
    size: 150%;
    cursor: pointer;
}

.author:hover {
    color: black;
}



.date {
    color: black;
    font-family: verdana;
    size: 150%;
}


/*This styling of the ".contentbox" and ".listbox"-clases gives instructions 
on how lagre the boxes should be and that it is placed in the center of the 
webpage. The ".contentbox"-class underneath is the styling of the box defined in
the ArstenchinicaArticle2.html. While the ".listbox"-class contains the styling of 
the box defined in pageNummer2.html*/

.contentbox {
    -moz-box-align: center;
    box-sizing: 700px;
    padding: 30px;
    border: 20px;
    margin: 20px;
    text-align: left;    
}

.listbox {
    -moz-box-align: center;
    box-sizing: 700px;
    padding: 5px;
    border: 10px;
    margin: 10px;
    text-align: left;  
}




/* Underneath the "img"- and the "screenshot"-elements and and the ".center"- and ".center2"-classes from ArstenchinicaArticle2.html
is used to style the image in the center of the webpage, give it a proper size
and to make it scalable. 

The style the image, we took inspiration from the following sources:
      - w3schools (2023) "HOW TO - Rounded Images". Retrived 12.10.2023 from: https://www.w3schools.com/howto/howto_css_rounded_images.asp  
      - w3schools (2023) "HOW TO - Center Images". Retrived 12.10.2023 from: https://www.w3schools.com/howto/howto_css_image_center.asp 

To make the image scalable we used the following source:
mdn web docs(2023). "Scale". Mozilla Developer. 
Retrived 12.10.2023 from: https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scale#syntax*/

img { 
    size: 300px;
    border-radius: 8px;  
    transform: scale(1);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


screenshot { 
    size: 300px;
    border-radius: 8px;  
    transform: scale(1);
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}




